

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 20px;
}

.card {
    width: 60%;
    border-radius: 5px;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
}
.card:hover {
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardBody {
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.column1 {
    flex: 1;
    padding-left: 30px;
}
.column2 {
    flex: 1;
    padding-right: 30px;
}

.title {
    padding-top: 15px;
    font-size: 20px;
}

.text {
    /* width: 50%; */
    padding: 15px;
    text-align: left;
}

.media {
    /* width: 50%;
    padding-top: 20px; */
    padding: 15px;
    width: 90%;
}

.video {
    padding: 15px;
    width: 90%;
    /* padding-top: 20px;
    width: 50%;
    height: 250px; */
}

